<div class="container-fluid mt-3 m-auto w-auto">
  <div class="row d-flex align-items-center justify-content-start mb-4">
    <div class="profileTitle col-md-4">
      <h1 class="fw-bold m-2 fs-1 mb-md-3">About you</h1>
    </div>
    <div class="col-md-8 d-flex justify-content-start topButtons">
      <div class="buttons ms-lg-5">
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#addGameModal"
          data-bs-whatever="@mdo"
        >
          Add Game
        </button>
      </div>
      <div class="buttons ms-3">
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#searchGameModal"
          data-bs-whatever="@mdo"
        >
          Search for Game
        </button>
      </div>
    </div>
  </div>
  <div
    class="modal fade"
    id="addGameModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add a Game!</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="addGameForm">
            <div class="row">
              <div class="col-6">
                <mat-form-field>
                  <mat-label>Title:</mat-label>
                  <input matInput formControlName="title" class="title" />
                </mat-form-field>
              </div>
              <div class="col-6">
                <label for="message-text" class="col-form-label">State:</label>
                <select class="form-select" aria-label="game state">
                  <option selected>Open this select menu</option>
                  <option value="finished">Finished</option>
                  <option value="playing">Playing</option>
                  <option value="plan">Plan On</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <label for="recipient-name" class="col-form-label"
                  >Platform:</label
                >
                <select class="form-select" aria-label="game state">
                  <option selected>Choose</option>
                  <option value="ps">Playstation</option>
                  <option value="pc">PC</option>
                  <option value="xbox">Xbox</option>
                  <option value="switch">Nintendo</option>
                </select>
              </div>
              <div class="col-6">
                <label for="message-text" class="col-form-label">Image:</label>
                <input type="file" class="form-control" id="gameImage" />
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="button" class="btn btn-primary">Add</button>
        </div>
      </div>
    </div>
  </div>
  <div
    class="modal fade"
    id="searchGameModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-2" id="exampleModalLabel">
            Search for a Game!
          </h1>
          <button
            #closeModal
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="row d-flex justify-content-center mb-3">
              <div class="col-6">
                <label for="recipient-name" class="col-form-label fs-2"
                  >Name:</label
                >
                <input
                  [(ngModel)]="searchForGame"
                  type="text"
                  class="form-control"
                  id="recipient-name"
                  name="searchForGame"
                />
              </div>
            </div>
            <div class="row">
              <div class="gameBox">
                @for (item of foundGames$ | async; track $index) {
                <app-game-card
                  (updateOnSearch)="updateOnSearch()"
                  [gameID]="item._id"
                >
                </app-game-card>

                }
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <div class="alert alert-primary" role="alert">
            A simple primary alert—check it out!
          </div>
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button (click)="searchGame()" type="button" class="btn btn-primary">
            Search!
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- User Info And currently playing-->
  <div class="userInfo row">
    <div class="profileUserInfo col-lg-4 mb-4">
      <div class="row">
        <div class="profileUserImage col-sm-4">
          <img
            src="https://via.placeholder.com/150"
            alt="profile image"
            id="profileImage"
          />
        </div>
        <div class="profileUserDetails col-sm-8">
          <p class="fs-2 fw-bold m-0">{{ userInfo!.username }}</p>
          @if ( editingInfo ) {
          <input
            type="text"
            class="form-control m-1"
            id="descriptionInput"
            [innerText]="userInfo!.description"
            [(ngModel)]="userInfo!.description"
          />
          <button
            class="btn btn-primary m-1"
            id="editDescription"
            (click)="saveInfo()"
          >
            Save
          </button>
          } @else {
          <p class="description fs-5">
            {{
              userInfo!.description === ""
                ? "No description"
                : userInfo!.description
            }}
          </p>
          <button
            class="btn btn-primary"
            id="editDescription"
            (click)="editInfo()"
          >
            Edit
          </button>
          }
        </div>
      </div>
      <!--START HERE-->
      <div class="row">
        <div
          class="playerFavorites w-100 col-md-4 d-flex flex-column justify-content-center align-items-center mt-2"
        >
          <h2>Favorites</h2>
          <div class="favoriteGames gameBox w-100 p-2">
            @for (item of favoriteGames$ | async; track $index) {
            <app-game-card
              (updateGames)="updateGames()"
              [profile]="true"
              [gameID]="item._id"
            >
            </app-game-card>

            }
          </div>
        </div>
      </div>
      <!-- Disliked And Finished-->
      <div class="row">
        <div
          class="playerDisliked w-100 col-md-4 d-flex flex-column justify-content-center align-items-center mt-2"
        >
          <h2>Disliked</h2>
          <div class="dislikedGames gameBox w-100 p-2">
            @for (item of dislikedGames$ | async; track $index) {
            <app-game-card
              (updateGames)="updateGames()"
              [profile]="true"
              [gameID]="item._id"
            >
            </app-game-card>

            }
          </div>
        </div>
      </div>
    </div>
    <div class="gameInfo col-lg-8">
      <div class="row d-flex flex-column p-0 m-auto mb-4">
        <h2 id="gameBoxTitle" class="m-0">Currently Playing</h2>
        <div class="currentlyPlaying gameBox w-100 p-2">
          @for (item of currentlyPlaying$ | async; track $index) {
          <app-game-card
            (updateGames)="updateGames()"
            [profile]="true"
            [gameID]="item._id"
          >
          </app-game-card>

          }
        </div>
      </div>

      <div class="row d-flex flex-column p-0 m-auto mb-4">
        <h2 id="gameBoxTitle" class="m-0">Plan on Playing</h2>
        <div class="planOnPlaying gameBox w-100 p-2">
          @for (item of planToPlay$ | async; track $index) {
          <app-game-card
            (updateGames)="updateGames()"
            [profile]="true"
            [gameID]="item._id"
          >
          </app-game-card>

          }
        </div>
      </div>
      <div class="row d-flex flex-column p-0 m-auto mb-4">
        <h2 id="gameBoxTitle" class="m-0">Finished Playing</h2>
        <div class="finishedPlaying gameBox w-100 p-2">
          @for (item of finishedGames$ | async; track $index) {
          <app-game-card
            (updateGames)="updateGames()"
            [profile]="true"
            [gameID]="item._id"
          >
          </app-game-card>

          }
        </div>
      </div>
    </div>
  </div>
</div>
