* {
  font-family: "Pixelify Sans", sans-serif;
}
.gameCard {
  display: inline-block;
  width: 200px;
  margin: 10px;
}

#profileImage {
  border: 5px solid black;
  width: 100%;
  height: auto;
  max-width: 200px;
  max-height: 200px;
}
.description {
  word-break: break-all;
}

#editDescription {
  background-color: white;
  border: 5px solid black;
  color: black;
}

.card-img-top {
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.gameBox {
  border: 5px solid black;
  width: 100%;
  height: 90%;
  gap: 15px;
  overflow: auto;
  white-space: nowrap;
}

#gameBoxTitle {
  border: 3px solid black;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: black;
  border-bottom: 0px;
}
