<div class="container-fluid mt-3 m-auto w-auto">
  <div class="row">
    <div class="profileTitle col-12">
      <h1 class="fw-bold">About you</h1>
    </div>
  </div>
  <!-- User Info And currently playing-->
  <div class="userInfo row">
    <div class="profileUserInfo col-lg-4 mb-4">
      <div class="row">
        <div class="profileUserImage col-sm-4">
          <img
            src="https://via.placeholder.com/150"
            alt="profile image"
            id="profileImage"
          />
        </div>
        <div class="profileUserDetails col-sm-8">
          <p class="fs-2 fw-bold m-0">YOUR NAME HERE</p>
          @if ( editingInfo ) {
          <input
            type="text"
            class="form-control m-1"
            id="descriptionInput"
            placeholder="Something about you"
            [(ngModel)]="newDescription"
          />
          <button
            class="btn btn-primary m-1"
            id="editDescription"
            (click)="saveInfo()"
          >
            Save
          </button>
          } @else {
          <p class="description fs-5">
            {{
              userInfo.description === ""
                ? "No description"
                : userInfo.description
            }}
          </p>
          <button
            class="btn btn-primary"
            id="editDescription"
            (click)="editInfo()"
          >
            Edit
          </button>
          }
        </div>
      </div>
      <!--START HERE-->
      <div class="row">
        <div
          class="playerFavorites w-100 col-md-4 d-flex flex-column justify-content-center align-items-center mt-2"
        >
          <h2>Favorites</h2>
          <div class="favoriteGames gameBox w-100 p-2">
            <div class="favoriteGame gameCard card">
              <img class="card-img-top" src="https://via.placeholder.com/150" />
              <div class="card-body">
                <h4 class="card-title">Witcher 3</h4>
                <span>Finished</span>
                <span>Ps5</span>
              </div>
            </div>
            <div class="favoriteGame gameCard card">
              <img class="card-img-top" src="https://via.placeholder.com/150" />
              <div class="card-body">
                <h4 class="card-title">Witcher 3</h4>
                <span>Finished</span>
                <span>Ps5</span>
              </div>
            </div>
            <div class="favoriteGame gameCard card">
              <img class="card-img-top" src="https://via.placeholder.com/150" />
              <div class="card-body">
                <h4 class="card-title">Witcher 3</h4>
                <span>Finished</span>
                <span>Ps5</span>
              </div>
            </div>
            <div class="favoriteGame gameCard card">
              <img class="card-img-top" src="https://via.placeholder.com/150" />
              <div class="card-body">
                <h4 class="card-title">Witcher 3</h4>
                <span>Finished</span>
                <span>Ps5</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Disliked And Finished-->
      <div class="row">
        <div
          class="playerDisliked w-100 col-md-4 d-flex flex-column justify-content-center align-items-center mt-2"
        >
          <h2>Disliked</h2>
          <div class="dislikedGames gameBox w-100 p-2">
            <div class="dislikedGame gameCard card">
              <img class="card-img-top" src="https://via.placeholder.com/150" />
              <div class="card-body">
                <h4 class="card-title">Witcher 3</h4>
                <span>Finished</span>
                <span>Ps5</span>
              </div>
            </div>
            <div class="playerFinished col-md-8"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="gameInfo col-lg-8">
      <div class="row d-flex flex-column p-0 m-0 mb-4">
        <h2 id="gameBoxTitle" class="m-0">Currently Playing</h2>
        <div class="currentlyPlaying gameBox col-md-4">
          <div class="currentlyPlayingGames">
            <div class="currentlyPlayingGame gameCard card">
              <img class="card-img-top" src="https://via.placeholder.com/150" />
              <div class="card-body">
                <h4 class="card-title">Witcher 3</h4>
                <span>Finished</span>
                <span>Ps5</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row d-flex flex-column p-0 m-0 mb-4">
        <h2 id="gameBoxTitle" class="m-0">Finished Playing</h2>
        <div class="finishedGame gameBox col-md-4">
          <div>
            <div class="finishedGame gameCard card">
              <img class="card-img-top" src="https://via.placeholder.com/150" />
              <div class="card-body d-flex flex-column">
                <h4 class="card-title">Witcher 3</h4>
                <span>Finished</span>
                <span>Ps5</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row d-flex flex-column p-0 m-0 mb-4">
        <h2 id="gameBoxTitle" class="m-0">Plan on Playing</h2>
        <div class="planOnPlaying gameBox col-md-4">
          <div>
            <div class="planOnPlaying gameCard card">
              <img class="card-img-top" src="https://via.placeholder.com/150" />
              <div class="card-body">
                <h4 class="card-title">Witcher 3</h4>
                <span>Finished</span>
                <span>Ps5</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
