<div class="container">
  <h1>Login</h1>
  <form action="" class="register-form" [formGroup]="loginForm">
    <mat-form-field>
      <mat-label>User name</mat-label>
      <input matInput formControlName="username" class="userName" />
      @if (loginForm.hasError('required', 'username')) {
      <mat-error>User name is required</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input type="password" matInput formControlName="password" />
      @if (loginForm.hasError('required', 'password')) {
      <mat-error>Password required </mat-error>
      } @if (loginForm.hasError('minlength', 'password')) {
      <mat-error>Password is <strong>too short</strong></mat-error>
      }
    </mat-form-field>
    <button
      mat-raised-button
      class="formSubmitButton"
      type="submit"
      (click)="logIn()"
    >
      Log In
    </button>
  </form>
</div>
<ng-template #responseMessageTemplate let-param="messageKey">
  <span [innerHTML]="param"></span>
</ng-template>
