<div class="container">
  <h1>Register</h1>
  <form action="" class="register-form" [formGroup]="registerForm">
    <mat-form-field>
      <mat-label>User name</mat-label>
      <input matInput formControlName="username" class="userName" />
      <mat-hint>Your user name will be used as login name</mat-hint>
      @if (registerForm.hasError('required', 'username')) {
      <mat-error>User name is required</mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="email" />
      @if (registerForm.hasError('email','email') &&
      !registerForm.hasError('required', 'email')) {
      <mat-error>Please enter a valid email address</mat-error>
      } @if (registerForm.hasError('required', 'email')) {
      <mat-error>Email is <strong>required</strong></mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input type="password" matInput formControlName="password" />
      @if (registerForm.hasError('required', 'password')) {
      <mat-error>Password required </mat-error>
      } @if (registerForm.hasError('minlength', 'password')) {
      <mat-error>Password is <strong>too short</strong></mat-error>
      }
    </mat-form-field>
    <button mat-raised-button class="formSubmitButton" type="submit" (click)="register()">
      Register
    </button>
  </form>
</div>
