<div class="container">
  <h1>Register</h1>
  <form action="" class="register-form" [formGroup]="registerForm">
    <mat-form-field>
      <mat-label>User name</mat-label>
      <input matInput formControlName="username" class="userName" />
      <mat-hint>Your user name will be used as login name</mat-hint>
      @if (registerForm.hasError('required', 'username')) {
      <mat-error>User name is required</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input type="password" matInput formControlName="password" />
      @if (registerForm.hasError('required', 'password')) {
      <mat-error>Password required </mat-error>
      } @if (registerForm.hasError('minlength', 'password')) {
      <mat-error>Password is <strong>too short</strong></mat-error>
      }
    </mat-form-field>
    <button
      mat-raised-button
      class="formSubmitButton"
      type="submit"
      (click)="register()"
      [disabled]="!registerForm.valid"
    >
      Register
    </button>
  </form>
</div>
