<div class="gameCard card">
  <div class="row">
    <div class="col-5">
      <img src="https://via.placeholder.com/150" />
    </div>
    <div class="col-7">
      <div class="card-body">
        <h3 class="card-title">Red Dead Redemption 2</h3>
        <h5 class="card-state">Finished on Ps5</h5>
        <h5 class="card-text">Rating :</h5>
        <h5 class="card-buttons w-100">
          <button class="btn">F</button>
          <button class="btn">P</button>
          <button class="btn">P</button>
        </h5>
      </div>
    </div>
  </div>
</div>
