.gameCard {
  display: inline-block;
  width: 420px;
  height: 240px;
  margin: 10px;
  min-width: 460px;
  min-height: 275px;
  border: 3px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.gameCard .col-6 {
  height: 100%;
}
.imgCol {
  height: 100%;
}
.main {
  height: 100%;
}
.top {
  padding: 0;
  margin: 0;
}
.card-title {
  text-wrap: initial;
  width: 200px;
  height: 100px;
  overflow: scroll;
  padding-top: 5px;
  max-height: 100px;
}
.card-body {
  padding: 0;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.topButtons {
  margin-left: 4px;
  width: 100%;
}
.card-buttons .top {
  padding: 0;
}
.top .btn {
  margin-right: 6px;
  border-radius: 10px;
  background-color: #f9e900;
  padding: 3px;
  border: 3px solid black;
}
.close {
  margin-right: 6px;
  border-radius: 10px;
  background-color: #f9e900;
  padding: 3px;
  border: 3px solid black;
}

.close img {
  width: 25px;
  height: auto;
}
.top img {
  width: 25px;
  height: auto;
}
.bottom {
  padding: 0;
}
.bottom .btn {
  margin-right: 6px;
  border-radius: 10px;
  background-color: #f9e900;
  padding: 3px;
  border: 3px solid black;
}
.bottom img {
  width: 25px;
  height: auto;
}
img {
  width: 101%;
  height: 100%;
  object-fit: fill;
}
.btn:hover {
  background-color: red;
  color: white;
}
.gameCard .col-7 {
  max-width: 320px;
  height: 100%;
}
