<div class="gameCard card">
  <div class="row main">
    <div class="col-5 imgCol">
      <img [src]="gameCover" />
    </div>
    <div class="col-7">
      <div class="card-body">
        <h5 class="card-buttons top w-100">
          @if (!profileGame?.isFavorite) {
          <button class="btn" value="favourite" (click)="addToFavorites()">
            F
          </button>
          }

          <button class="btn" value="disliked">P</button>
        </h5>
        <h3 class="card-title">{{ profileGame?.title }}</h3>
        <h5 class="card-state">{{ profileGame?.state }}</h5>
        <h5 class="card-text">Rating : {{ profileGame?.rating?.toFixed() }}</h5>
        <h5 class="card-buttons bottom w-100">
          <button
            class="btn"
            [value]="gameState.Completed"
            #completed
            (click)="updateState(completed.value)"
          >
            <i class="fa fa-check" aria-hidden="true"></i>
          </button>
          <button
            class="btn"
            [value]="gameState.Playing"
            #current
            (click)="updateState(current.value)"
          >
            P
          </button>
          <button
            class="btn"
            [value]="gameState.PlanToPlay"
            #plan
            (click)="updateState(plan.value)"
          >
            P
          </button>
        </h5>
      </div>
    </div>
  </div>
</div>
