/* You can add global styles to this file, and also import other style files */

@use "@angular/material" as mat;
html,
body {
  height: 100%;

}
.example::-webkit-scrollbar {
  display: none !important;
}
body {
  margin: 0;
  font-family: "Pixelify Sans", sans-serif;
}
.toast-success {
  --mdc-snackbar-container-color: #f9e900;
}
.toast-error {
  --mdc-snackbar-container-color: #f90000;
}
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.snack-bar-overrides(
    (
      supporting-text-color: white,
      button-color: white,
      container-shape: rectangle,
      supporting-text-size: 1rem,
      supporting-text-weight: bold,
      supporting-text-font: "Pixelify Sans",
    )
  );
  @include mat.form-field-overrides(
    (
      filled-focus-active-indicator-color: clear,
      filled-container-shape: rectangle,
      filled-container-color: white,
      filled-input-text-color: black,
      outlined-label-text-font: "Pixelify Sans",
      container-text-font: "Pixelify Sans",
    )
  );
}
